In [2]:
from pykrx import stock
df = stock.get_market_fundamental("20210108") 
df.head()

          BPS    PER   PBR   EPS   DIV   DPS
티커
095570   6802   4.62  0.67   982  6.61   300
006840  62448  11.69  0.41  2168  2.96   750
027410  15699  17.46  0.31   281  2.24   110
282330  36022  16.09  3.91  8763  1.91  2700
138930  25415   3.51  0.23  1647  6.23   360

In [4]:
df.sort_values("PER") #per순으로 정렬

          BPS      PER    PBR  EPS   DIV  DPS
티커
003280    276     0.00   0.93    0  0.00    0
009320    775     0.00   3.70    0  0.00    0
105840   5704     0.00   0.77    0  2.26  100
049800   5263     0.00   1.16    0  0.00    0
016880    917     0.00   1.20    0  0.00    0
...       ...      ...    ...  ...   ...  ...
013000   1387  1025.00   2.22    3  0.00    0
017550   1859  1030.00   1.66    3  0.32   10
071090  63833  1240.63   0.31   16  0.50  100
012200   5425  1247.50   0.92    4  0.70   35
019170   3782  3757.14  34.77   35  0.00    0

[895 rows x 6 columns]

In [6]:
df.query("PER != 0").sort_values("PER") #순이익이 없는 종목을 제외, query메서드로 데이터 필터링

          BPS      PER    PBR    EPS    DIV   DPS
티커
097230   2943     1.39   2.44   5185   0.00     0
003960  34643     1.44   0.51  12182   0.86   150
084670  45514     2.02   0.54  12104  19.22  4700
018500   1363     2.24   0.58    350   0.00     0
015020   1141     2.28   0.61    307   0.00     0
...       ...      ...    ...    ...    ...   ...
013000   1387  1025.00   2.22      3   0.00     0
017550   1859  1030.00   1.66      3   0.32    10
071090  63833  1240.63   0.31     16   0.50   100
012200   5425  1247.50   0.92      4   0.70    35
019170   3782  3757.14  34.77     35   0.00     0

[563 rows x 6 columns]

In [7]:
df = stock.get_market_fundamental("20210104","20210108","005930")
df.head() #특정종목 일자별 주요 기술지

              BPS    PER   PBR   EPS   DIV   DPS
날짜
2021-01-04  37528  26.22  2.21  3166  1.71  1416
2021-01-05  37528  26.50  2.24  3166  1.69  1416
2021-01-06  37528  25.96  2.19  3166  1.72  1416
2021-01-07  37528  26.18  2.21  3166  1.71  1416
2021-01-08  37528  28.05  2.37  3166  1.59  1416